# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.2020_Simulator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Laura\Documents\CompSoc\AberCompSoc_Game_Jam\2020_Simulator\.idea\.idea.2020_Simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
